/* Style for Lane */

.todo-lane {
  width: 30%;
  min-height: 400px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;
}

.todo-header {
  text-transform: capitalize;
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 8px;
}

/* style for todo card */

.todo-card {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  cursor: grab;
}

.todoCard-edit-title {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.todoCard-edit-textArea {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
  font-size: 14px;
  margin-bottom: 10px;
}

.todoCard-saveBtn {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.todoCard-edit {
  padding: 6px 12px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.todoCard-delete {
  padding: 6px 12px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

/* style for todo form */

.todo-form {
  margin-bottom: 30px;
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
}

.todo-form-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 40%;
  font-size: 16px;
}

.todo-form-description {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 40%;
  font-size: 16px;
}

.todo-form-addTodoBtn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
